//content transitionTime
$time: 0.5s;

// loading 後 animation ink opacity time
$opacitytime: 0.05s;

* {
  text-decoration: none;
  list-style: none;
}
.body {
  overflow: hidden;
  height: 100%;
}
//backgroudanimation
.bg-animation {
  position: fixed;
  z-index: -1;
}
.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200%;
  opacity: 0.1;
  background-color: #000000;
  mix-blend-mode: multiply;
}
//loadinganimation
#splash {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #222222;
  &_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    color: #ddd;
    font-size: 10px;
    transform: translateX(-50%);
  }
}
.loadinglogo {
  position: relative;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: -90px 0 0 0;
  transform: translate(-51%, -27%) rotate(45deg);
  &.active {
    animation: loadinglogorotate 1.5s linear infinite none;
  }

  &-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px #ffba61;
    animation: logolight 2.5s ease-out 0s;
  }
  &-line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 58px;
    margin: 0;
    background-color: #fff;
    transform: translate(0, -28px) rotate(0deg);
    transform-origin: center top;
    &.move {
      animation: loadinglogomove 0.5s ease-out forwards;
    }
  }
}
@keyframes loadinglogorotate {
  0% {
    transform: translate(-51%, -27%) rotate(45deg);
  }
  50% {
    transform: translate(-51%, -27%) rotate(225deg);
  }
  100% {
    transform: translate(-51%, -27%) rotate(405deg);
  }
}

@keyframes loadinglogomove {
  0% {
    transform: translate(0, -28px) rotate(0deg);
  }
  25% {
    transform: translate(0, -208px) rotateZ(0deg);
  }
  30% {
    transform: translate(0, -208px) rotateZ(-45deg);
  }
  60% {
    transform: translate(-70px, -298px) rotateZ(-45deg);
  }
  65% {
    transform: translate(-70px, -298px) rotateZ(45deg);
  }
  100% {
    transform: translate(570px, -1009px) rotateZ(45deg);
  }
}
@keyframes logolight {
  0% {
    box-shadow: 0px 0px 0px #ffba61;
  }
  20% {
    box-shadow: 0px 0px 0px #ffba61;
  }
  100% {
    box-shadow: 0px 0px 50px #ffba61;
  }
}
//loading 後 animation
.loading-anime {
  position: fixed;
  z-index: 1100;
  width: 100vw;
  height: 100%;

  &-whitetop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1110;
    width: 100vw;
    height: 60vh;
    background-color: #fff;
    transform: translate(0, -61vh);
    transition: all 0.3s linear 1s;
  }
  &-whitebottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1110;
    width: 100vw;
    height: 60vh;
    background-color: #fff;
    transform: translate(0, 60vh);
    transition: all 0.3s linear 1s;
  }
  &-ink {
    &_linetop {
      position: absolute;
      z-index: 1120;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 150px;
      margin: 0;
      background-color: #333;
      transform: translate(-1000px, 290px) rotate(83deg);
      transform-origin: center top;
      transition: all 1s ease-in 1.5s;
    }
    &_linebottom {
      position: absolute;
      z-index: 1120;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 150px;
      margin: 0;
      background-color: #333;
      transform: translate(1120px, -370px) rotate(89deg);
      transform-origin: center top;
      transition: all 1s ease-in 1.5s;
    }
  }
  &_ink {
    position: relative;
    z-index: 1130;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 1080px;
    transform: translate(-50%, -50%);

    &_r1 {
      position: absolute;
      z-index: 1131;
      top: 0;
      right: 0;
      opacity: 0;
      transform: scale(0.2, 0.2);
      transition: all $opacitytime linear 1.8s;
    }
    &_r2 {
      position: absolute;
      z-index: 1132;
      top: 0;
      right: 110px;
      opacity: 0;
      transform: scale(0.2, 0.2);
      transition: all $opacitytime linear 2.1s;
    }
    &_r3 {
      position: absolute;
      z-index: 1133;
      top: 0;
      left: 30px;
      opacity: 0;
      transform: scale(0.2, 0.2);
      transition: all $opacitytime linear 2.4s;
    }
    &_r4 {
      position: absolute;
      z-index: 1134;
      top: 0;
      left: 0;
      opacity: 0;
      transform: scale(0.2, 0.2);
      transition: all $opacitytime linear 2.7s;
    }
    &_l1 {
      position: absolute;
      z-index: 1141;
      bottom: 0;
      left: 0;
      opacity: 0;
      transform: scale(0.2, 0.2);
      transition: all $opacitytime linear 1.8s;
    }
    &_l2 {
      position: absolute;
      z-index: 1142;
      bottom: 0;
      left: 210px;
      opacity: 0;
      transform: scale(0.2, 0.2);
      transition: all $opacitytime linear 2.1s;
    }
    &_l3 {
      position: absolute;
      z-index: 1143;
      bottom: 0;
      right: 40px;
      opacity: 0;
      transform: scale(0.2, 0.2);
      transition: all $opacitytime linear 2.4s;
    }
    &_l4 {
      position: absolute;
      z-index: 1144;
      bottom: 0;
      right: -30px;
      opacity: 0;
      transform: scale(0.2, 0.2);
      transition: all $opacitytime linear 2.7s;
    }

    &_logo {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1200;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100%;
      opacity: 0;
      transition: all 0.1s linear 1.6s;

      &_img {
        width: 100%;
        height: 100%;
        background-image: url(../image/bourbakiPc.png);
        background-position: center center;
        @media screen and (max-width: 767px) {
          background-image: url(../image/bourbakiPhone.png);
        }
      }

      &bg {
        position: absolute;
        z-index: 1150;
        top: 50%;
        left: 50%;
        width: 1920px;
        height: 1080px;
        transform: translate(-50%, -50%);

        &_set {
          position: absolute;
          width: 786px;
          height: 842px;
          display: block;
          opacity: 0;
          transform: scale(0.2, 0.2);
          transition: all $opacitytime linear;
        }
        &1 {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 1151;
          width: 100vw;
          height: 100%;
          background-color: #33d1df;
          opacity: 0;
          transition: all 0.5s ease-out;
          transition-delay: 4.6s;
        }
      }
    }
  }
  &_font {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1300;
    width: 100vw;
    height: 100%;
    background-color: #333;
    transform: translateX(101vw);
    transition: all 0.5s ease-out 6s;
  }
}
.white-move {
  transform: translate(0, 0);
}
.linetop-move {
  transform: translate(1120px, 70px) rotate(83deg);
}
.linebottom-move {
  transform: translate(-1000px, -250px) rotate(89deg);
}
.ink-opacity {
  transform: scale(1, 1);
  opacity: 1;
}
.blue-scale {
  opacity: 1;
}

//header
.header {
  position: fixed;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 82px;
  padding: 20px 50px 0 30px;
  // background-color: #222222;
  background-image: url(../image/header.png);
  background-size: 2130px;
  background-position: center -2px;

  @media screen and (max-width: 767px) {
    height: 76px;
    padding: 16px 16px 0 16px;
    background-size: 2130px;
    background-position: center -6px;
  }

  &-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 43vw;
    height: auto;

    @media screen and (max-width: 767px) {
      display: none;
    }

    a {
      color: #dddddd;
    }
  }
}
.logo {
  a {
    display: flex;
    align-items: center;
    height: 20px;
  }
  &-mark {
    font-family: "Sawarabi Gothic", sans-serif;
    font-size: 30px;
    margin-right: 10px;
    padding-bottom: 6px;
    color: #dddddd;
    animation: logotype 3s linear infinite;

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }
  &-type {
    font-family: "Sawarabi Gothic", sans-serif;
    font-size: 20px;
    color: #dddddd;
    animation: logotype 5s linear infinite;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
}

@keyframes logotype {
  0% {
    transform: skewX(0);
  }
  39% {
    transform: skewX(0);
  }
  40% {
    transform: skewX(-10deg);
  }
  41% {
    transform: skewX(10deg);
  }
  42% {
    transform: skewX(0);
  }
  90% {
    transform: skewX(0);
  }
  90.3% {
    transform: skewX(50deg);
  }
  90.6% {
    transform: skewX(-50deg);
  }
  90.9% {
    transform: skewX(0);
  }
  100% {
    transform: skewX(0);
  }
}

//ハンバーガーメニュー
.hamMenu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100px;
  height: 20px;

  &-up {
    width: 30px;
    height: 2px;
    background-color: #ddd;
    border-radius: 1px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }
  &-center {
    width: 22px;
    height: 2px;
    background-color: #ddd;
    border-radius: 1px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.15s;
  }
  &-down {
    width: 13px;
    height: 2px;
    background-color: #ddd;
    border-radius: 1px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
  }
  &-main {
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101vw;
    height: 100%;
    background-color: #222222;
    opacity: 0;
    transform: translateX(170vw) rotate(90deg);
    transition: all 1s ease-out;
    transition-delay: 0.5s;

    &_list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 70vw;
      height: 60vh;
      margin: 0 auto;

      li {
        overflow: hidden;
        width: 100vw;
        height: 25px;
        border-bottom: 1px solid #999;
      }
      &_text {
        display: block;
        font-family: "Lexend Giga", sans-serif;
        font-size: 20px;
        color: white;
        text-align: center;
        transform: translateY(20px);
        transition: all 0.5s linear;
        transition-delay: 1.7s;
      }
    }
  }
  &-returnbtn {
    position: fixed;
    top: 20px;
    right: 50px;
    width: 30px;
    height: 30px;
    transform: translateY(-40px);
    transition: all 0.3s linear;
    transition-delay: 1.7s;

    @media screen and (max-width: 767px) {
      top: 16px;
      right: 16px;
    }

    &_right {
      width: 30px;
      height: 2px;
      background-color: white;
      border-radius: 1px;
      transform: translate(0px, 15px) rotate(45deg);
    }

    &_left {
      width: 30px;
      height: 2px;
      background-color: white;
      border-radius: 1px;
      transform: translate(0px, 13px) rotate(-45deg);
    }
  }
}
.active-line {
  transform: translateX(-120px);
}
.active {
  opacity: 1;
  transform: translateX(0) rotate(0deg);
}
.active-return {
  transform: translateY(0);
}
//mv
.mv {
  width: 100vw;
  height: 100%;

  &-section {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 43vw;
    height: 80vh;
    transform: translateY(-50%);

    @media screen and (max-width: 767px) {
      width: 100vw;
      height: 36vh;
      right: 0;
      transform: translateY(20px);
    }
  }

  &-img {
    position: absolute;
    top: 50%;
    right: 0;
    width: 43vw;
    height: 80vh;
    opacity: 1;
    transform: translateY(-50%);
    transition: all $time ease;

    @media screen and (max-width: 767px) {
      top: 0;
      right: 0;
      display: flex;
      width: 100vw;
      height: 36vh;
      transform: translateY(0);
    }
    &_top {
      position: absolute;
      top: 0;
      right: 0;
      width: 21vw;
      min-width: 230px;
      img {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        min-width: 140px;
        margin-left: 0px;
      }
    }
    &_bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 34vw;
      min-width: 320px;
      img {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        min-width: 260px;
      }
    }
  }
}
.page-button {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  transform: translateX(-50%);
  @media screen and (max-width: 767px) {
    width: 330px;
    bottom: 20px;
  }
  &_opacity0 {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    transform: translateX(-50%);
    opacity: 1;
    transition: all $time ease;

    @media screen and (max-width: 767px) {
      bottom: 60px;
      width: 340px;
    }
  }
  &_before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    font-family: "Lexend Giga", sans-serif;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 2px solid #000000;
    color: #000000;
  }
}

.main {
  width: 100vw;
  height: 100%;
  opacity: 1;
  transition: all $time ease;
}
.skate {
  position: relative;
  opacity: 0;
  width: 100vw;
  height: 100%;
  transition: all $time ease;
}
.music {
  position: relative;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: all $time ease;
}
.photo {
  position: relative;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: all $time ease;
}
.member {
  position: relative;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: all $time ease;
}
.blog {
  position: relative;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: all $time ease;
}
.company {
  position: relative;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: all $time ease;
}
.contact {
  position: relative;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: all $time ease;
}
.opacity {
  opacity: 1;
}
.opacity0 {
  opacity: 0;
}
//コンテンツ共通内容
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 767px) {
    padding: 50px 0 0 0;
    justify-content: flex-start;
    flex-direction: column;
    transform: translate(-50%, -56%);
  }
}

.photobase {
  width: 46vw;
  height: 80vh;
  border: 5px solid #999999;
  background-color: rgba($color: #000000, $alpha: 0);
  @media screen and (max-width: 767px) {
    width: 101vw;
    height: 40vh;
  }
}
.textbase {
  width: 46vw;
  height: 80vh;
  border: 5px solid #555555;
  background-color: rgba($color: #000000, $alpha: 0);
  @media screen and (max-width: 767px) {
    width: 101vw;
    height: 40vh;
  }
}
